<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smt.navigator3" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SMT导航3</name>
    <description>
        SMT导航3
    </description>
    <author email="523084467@qq.com" href="http://tieba.baidu.com/home/main/?un=%E9%94%80%E9%94%8B%E9%95%9D%E9%93%B8">
        销锋镝铸
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#3f9314" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.2" />
    <plugin name="cordova-hot-code-push-plugin" spec="^1.5.3" />
    <chcp>
        <config-file url="https://xiaofengdizhu.github.io/SMT3/chcp.json" />
        <auto-download enabled="false" />
        <auto-install enabled="false" />
    </chcp>
    <engine name="android" spec="7.0.0" />
</widget>
