.hide {
    display: none;
}

/*载入动画*/
.md-main {
    opacity: 0;
    transition: opacity 0.4s linear;
}

/*表格调整*/
.md-typeset table:not([class]) th {
    min-width: 8rem;
    padding: 1.2rem 1.2rem;
}

.md-typeset table:not([class]) td {
    padding: 1.2rem 1.2rem;
}

/*调整顶栏*/
header.md-header {
    top: -1px;
    height: 4.9rem;
}

.md-source {
    width: 15rem;
    padding-right: 0;
}

.md-source__icon{
    width: 3.6rem;
}

/*调整底栏高度和颜色*/
.md-footer-nav {
    background-color: #240800;
}

.md-footer-nav__link {
    padding-top: 1.8rem;
    padding-bottom: 0rem;
}

.md-footer-meta {
    margin-top: -1px;
    background-color: #220600
}

.md-footer-social {
    padding: 0.2rem 0;
}

/*自定义主题色*/
button[data-md-color-primary=green] {
    background-color: #3f9314
}

[data-md-color-primary=green] .md-typeset a {
    color: #3f9314
}

[data-md-color-primary=green] .md-header, [data-md-color-primary=green] .md-hero {
    background-color: #3f9314
}

[data-md-color-primary=green] .md-nav__link--active, [data-md-color-primary=green] .md-nav__link:active {
    color: #3f9314
}

html [data-md-color-primary=green] .md-nav--primary .md-nav__title--site {
    background-color: #3f9314
}

[    data-md-color-primary=green] .md-tabs {
    background-color: #3f9314
}